@import './variables';

body {
   font-family: sans-serif;
}

button {
   cursor: pointer;
}

.app {
   margin: 0 auto;
   width: 920px;
   display: flex;
   column-gap: 24px;
   min-height: 100vh;
}

aside {
   display: flex;
   flex-direction: column;
   position: sticky;
   height: fit-content;
   top: 0px;
   width: 370px;

   .filter-container {
      padding: 32px 0;
      width: 100%;

      .sorting,
      .filter,
      .amount-price,
      .airlines {
         display: flex;
         flex-direction: column;

         &:not(:first-child) {
            margin-top: 20px;
         }

         legend {
            font-weight: 600;
         }
      }
   }
}

.add-area {
   width: 100%;
   background: #D9D9D9;

   &_min {
      height: 36px;
   }

   &_max {
      height: 144px;
   }
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 20px;
   width: 100%;

   .load-more {
      margin: 20px 0 40px;
      padding: 0px 60px;
      width: fit-content;
      font-size: 20px;
   }
}

.flight {
   padding: 0 2px 2px;
   width: 100%;
   background-color: $blue;
   border-radius: 4px;
   overflow: hidden;
   transition: all 0.3s;

   &:hover {
      box-shadow: 0px 0px 16px rgba(154, 154, 154, 100%);
   }

   &:nth-child(n+2) {
      margin-top: 28px;
   }

   &__header {
      padding: 4px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;

      .price {
         display: flex;
         flex-direction: column;
         align-items: flex-end;

         &__count {
            font-size: 22px;
         }

         &__description {
            font-size: 11px;
         }
      }
   }

   &__body {
      .card {
         padding: 12px 14px;
         border-radius: 6px;
         background-color: #fff;

         &:not(:first-child) {
            margin-top: 4px;
         }

         &__header {
            position: relative;
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            column-gap: 6px;
            font-size: 18px;
         }

         &__body {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;

            .time-start {
               .time {
                  margin-right: 6px;
                  font-size: 21px;
               }
            }

            .time-duration {
               display: flex;
               column-gap: 4px;
               align-items: center;
               font-size: 18px;

               img {
                  width: 16px;
               }
            }

            .time-end {
               .time {
                  margin-left: 6px;
                  font-size: 21px;
               }
            }
         }

         &__connection {
            position: relative;
            margin-top: 8px;
            background-color: #fff;
            text-align: center;
            color: $orange;

            &::before,
            &::after {
               position: absolute;
               content: '';
               display: block;
               width: 30%;
               height: 1px;
               top: 50%;
               left: 10%;
               background-color: $grey;
            }

            &::after {
               left: 60%;
            }
         }

         &__departure {
            margin-top: 16px;
         }
      }
   }

   .hint,
   .arrow {
      color: $light-blue;
   }

   .hint {
      font-size: 16px;
   }

   hr {
      margin: 0;
      width: 100%;
      height: 1px;
      border: none;
      color: $light-grey;
      background-color: $light-grey;
   }

   &__choose-btn {
      margin-top: 8px;
      padding: 12px 0;
      width: 100%;
      background-color: $orange;
      border: none;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover {
         background-color: #F59A47;
      }
   }
}